<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="subtitulos">Terms and conditions</a>
                <a href="#" class="subtitulos"></a>
            </div>
             <div class="col-md-7 col-md-3">
                <a href="#" class="subtitulos">Follow</a>
                <a href="#"><img src="/images/proyect_img/facebook-social-icon.png" alt="facebook-social-icon"></a>
                <a href="#"><img src="/images/proyect_img/twitter-social-icon.png" alt="twitter-social-icon"></a>
                <a href="#"><img src="/images/proyect_img/instagram-social-icon.png" alt="instagram-social-icon"></a>
                
            </div>
            <div class="col-md-offset-1 ">
               <a href="/administrador/loginAdmin"  class="subtitulos">Login</a>
            </div>
            
        </div>
    </div>
</footer>