<div>
    <img src="/images/proyect_img/google-maps-wallpaper-3.jpg" alt="hero" class="img-responsive center-block">
</div>

<section id="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>CONTACTO...</h5>
                <h2 class="subtitulos">ZAPATERIA DEL SUR</h2>
                <p class="precoment">
                    Nos puedes contactar al 9999-90-90-90 o puedes visitarnos, nos ubicamos en la Calle 131 #541 x 64 y
                    66 Col. Buen Sitio
                </p>

                <div class="comment-box">
                    <textarea class="form-control" rows="4"></textarea>
                    <button class="btn btn-default" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</section>