<div>
    <img src="/images/proyect_img/shopping-cart-banner.png" alt="hero" class="img-responsive center-block">
</div>

<section id="single-post">
    <div class="container">
        <div class="row">
            <div class="form-inline col-md-12">
                <input class="form-control mr-sm-2" id="pasar" type="text" placeholder="Codigo" aria-label="Search">
                <button  id="cod" class="btn aqua-gradient btn-rounded btn-mx my-0">Bucar Compra</button>
            </div>
        </div>
    </div>
    <div id="ren"></div>
</section>
