
    <div>
        <img src="/images/proyect_img/modas_yucatan.jpg" alt="hero" class="img-responsive center-block">
    </div>

    <section id="single-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5>NOSOTROS...</h5>
                    <h2 class="subtitulos">ZAPATERIA DEL SUR</h2>
                    <p class="precoment">
                    Somos una empresa en busca de ser la mejor zapateria del sureste, dando un servicio de calidad y buen precio para las personas de la region, con ello asi llegar a ser una de las empresas mas exitosas del sureste.
                    </p>
                    
                    <div class="comment-box">
                        <textarea class="form-control" rows="4"></textarea>
                        <button class="btn btn-default" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
