<div>
    <img src="/images/proyect_img/gracias-por-tu-compra.jpg" style="max-width: 50%" alt="hero" class="img-responsive center-block">
</div>

<section id="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h2 class="subtitulos">
                        Tu Compra sera procesada los mas rapido posible,</br>
                        puedes verificar sus proces con el siguiente codigo</br>
                        o en la pestaña de "Compras Realizadas"</br>
                        <cenre>Tu codigo es:</br></cenre>
                        <center>{{codigo}}</center>
                    </h2>
                </center>


            </div>
        </div>
    </div>
</section>