
    <div>
        <img src="/images/proyect_img/banner_index.jpg" alt="hero" class="img-responsive center-block">
    </div>

    <section id="single-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5>ZAPATERIA DEL SUR</h5>
                    <h2 class="subtitulos">VISION...</h2>
                    <p class="precoment">Nuestra vision...</p>
                    
                    <div class="comment-box">
                        <textarea class="form-control" rows="4"></textarea>
                        <button class="btn btn-default" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
}